In [1]:
# Load kedro environment (not needed in .py)
from pathlib import Path
from kedro.framework.context import load_context

# Load a context to be able to work in the notebook
#current_dir = Path.cwd()
current_dir = Path("/u01/share/cesar/aa_engine_uy/notebooks/")
proj_path = current_dir.parent
context = load_context(proj_path)
catalog = context.catalog
credentials = context.config_loader.get("credentials*","credentials*/**")
parameters = context.config_loader.get("parameters*","parameters*/**")

import pandas as pd

In [3]:
pd.read_pickle("/u01/pospago_production/uy/aa_engine_uy/conf/local/oci")

('uruguay_data', 'iknw/jna', 'custxdb-srv.dtvpan.com/custxdb.dtvpan.com')

In [6]:
a00=pd.read_parquet('/data/prepago/co_pp/master/recargas_campanas/recargas_campanas_201801.parquet')

In [7]:
a00.head()

,CREATE_DATETIME,CUSTOMER_ID,DESCRIPTION,LEDGER_ACCOUNT_CODE,MONTO,MONTO_PRESTAMO,MONTO_RENTABILIDAD,MONTO_RETENCION,MONTO_SIN_OFERTA,MONTO_SIN_PRESTAMO
172481,20180104,68426021,389400 - PREPAGO CONEXRED,389400,15000,15000,0,0,15000,0
172482,20180104,100132647,389400 - PREPAGO CONEXRED,389400,57000,0,0,0,57000,57000
172483,20180104,64049566,389400 - PREPAGO CONEXRED,389400,20000,0,0,0,20000,20000
172484,20180104,83249715,389400 - PREPAGO CONEXRED,389400,66000,0,0,0,66000,66000
172485,20180104,93128357,389400 - PREPAGO CONEXRED,389400,15000,0,0,0,15000,15000

In [9]:
b00=pd.read_parquet('/data/prepago/co_pp/master/campanas_expanded/campanas_expanded_201801.parquet')
b00.head()

     CUSTOMER_ID CREATE_DATETIME START_DATE_RED END_DATE_RED  CATEGORY
64      86073447        20180104       20180104     20180107  PRESTAMO
84      86073447        20180105       20180104     20180107  PRESTAMO
104     86073447        20180106       20180104     20180107  PRESTAMO
124     86073447        20180107       20180104     20180107  PRESTAMO
280     86073447        20180115       20180115     20180118  PRESTAMO

In [12]:
b00.loc[b00.CUSTOMER_ID==86073447]

     CUSTOMER_ID CREATE_DATETIME START_DATE_RED END_DATE_RED  CATEGORY
64      86073447        20180104       20180104     20180107  PRESTAMO
84      86073447        20180105       20180104     20180107  PRESTAMO
104     86073447        20180106       20180104     20180107  PRESTAMO
124     86073447        20180107       20180104     20180107  PRESTAMO
280     86073447        20180115       20180115     20180118  PRESTAMO
300     86073447        20180116       20180115     20180118  PRESTAMO
320     86073447        20180117       20180115     20180118  PRESTAMO
340     86073447        20180118       20180115     20180118  PRESTAMO
461     86073447        20180124       20180124     20180127  PRESTAMO
481     86073447        20180125       20180124     20180127  PRESTAMO
501     86073447        20180126       20180124     20180127  PRESTAMO
521     86073447        20180127       20180124     20180127  PRESTAMO

In [17]:
c00=pd.read_csv('/data/prepago/outputs/output_churn/20210113_churn.csv')
c00.head()

,MODEL,DATE_CALC,CUSTOMER_ID,SCORE,NUM_RECARGAS_PASTDAYS,SUM_MONTO_PASTDAYS,PCT_MONTO_RENTA_PASTDAYS,PCT_MONTO_RETEN_PASTDAYS,PCT_MONTO_SINOFFER_PASTDAYS,DECIL,ETIQUETA
0,churn,20210113,17409041,19.402075,7.0,2290.0,0.0,0.000000,1.000000,4,BAJAPROB_SINOFFER
1,churn,20210113,17630114,49.599845,2.0,1370.0,0.0,0.182482,0.817518,1,ALTAPROB_CONOFFER
2,churn,20210113,17807960,45.424635,1.0,460.0,0.0,0.000000,1.000000,1,ALTAPROB_SINOFFER
3,churn,20210113,18694920,7.100845,8.0,2875.0,0.0,0.000000,1.000000,9,BAJAPROB_SINOFFER
4,churn,20210113,19758755,9.766859,6.0,2250.0,0.0,0.000000,1.000000,7,BAJAPROB_SINOFFER