In [ ]:
# La tabla clientes contiene clientes activos e inactivos al EOP

In [2]:
# Load kedro environment (not needed in .py)
from pathlib import Path
from kedro.framework.context import load_context
import numpy as np

# Load a context to be able to work in the notebook
#current_dir = Path.cwd()
current_dir = Path("/u01/share/cesar/aa_engine_uy/notebooks/")
proj_path = current_dir.parent
context = load_context(proj_path)
catalog = context.catalog
credentials = context.config_loader.get("credentials*","credentials*/**")
parameters = context.config_loader.get("parameters*","parameters*/**")

In [3]:
clientes_connect=catalog.load("clientes")

2020-12-15 14:00:54,515 - kedro.io.data_catalog - INFO - Loading data from `clientes` (SQLPartitionedDataSet)...

In [4]:
clientes=clientes_connect.filter_by_query("select * from stg_uy_clientes")

/u01/miniconda3/envs/uypo37/lib/python3.7/site-packages/sqlalchemy/dialects/oracle/base.py:1381: SAWarning: Oracle version (19, 5, 0, 0, 0) is known to have a maximum identifier length of 128, rather than the historical default of 30. SQLAlchemy 1.4 will use 128 for this database; please set max_identifier_length=128 in create_engine() in order to test the application with this new length, or set to 30 in order to assure that 30 continues to be used.  In particular, pay close attention to the behavior of database migrations as dynamically generated names may change. See the section 'Max Identifier Lengths' in the SQLAlchemy Oracle dialect documentation for background.
  % ((self.server_version_info,))

In [9]:
clientes.head()

,CUSTOMER_ID,TITLEUSERKEY,GENERO,FECHA_CREATE,CUSTOMER_CLASS,FECHANACIMIENTO,CUSTOMER_TYPE,CUSTOMER_STATUS,SEGMENTATION,DOMICILO_INS_FACT,LOCALIDAD,CP,PROVINCIA,PAIS,DATE_EXP
0,8031,Cmpa.,Compania,2001-09-20 13:42:32,2 - PostPago,1932-03-25,D - Normal Edificio,Normal customer,Grupo_2,DOMICILIO DE INSTALACION,CIUDAD VIEJA,11000,MONTEVIDEO,URUGUAY,202002
1,8677,Sr.,Senor,2001-09-25 20:42:25,2 - PostPago,1966-06-16,N - Normal Casa,Normal customer,Grupo_4,DOMICILIO DE FACTURACION,None,20100,MALDONADO,URUGUAY,202002
2,8677,Sr.,Senor,2001-09-25 20:42:25,2 - PostPago,1966-06-16,N - Normal Casa,Normal customer,Grupo_4,DOMICILIO DE INSTALACION,PUNTA DEL ESTE,20100,MALDONADO,URUGUAY,202002
3,8855,Sr.,Senor,2001-09-26 14:06:27,2 - PostPago,1947-01-19,N - Normal Casa,Normal customer,Grupo_4,DOMICILIO DE INSTALACION,PIEDRAS BLANCAS/VILLA GARCIA,12200,MONTEVIDEO,URUGUAY,202002
4,9055,Sr.,Senor,2001-09-26 16:40:28,2 - PostPago,1950-01-28,D - Normal Edificio,Normal customer,Grupo_2,DOMICILIO DE INSTALACION,CENTRO/BARRIO SUR,11100,MONTEVIDEO,URUGUAY,202002

In [12]:
clientes.groupby(["DATE_EXP"]).agg({'CUSTOMER_ID':['nunique','count']})

         CUSTOMER_ID
             nunique   count
DATE_EXP
202001         58145   69865
202002         60762   73357
202011        121310  145492

In [16]:
clientes.groupby(["DATE_EXP",'PROVINCIA']).agg({'CUSTOMER_ID':['nunique','count']})

                        CUSTOMER_ID
                            nunique  count
DATE_EXP PROVINCIA
202001   ARTIGAS                850    969
         CANELONES            14771  17539
         CERRO LARGO           1263   1478
         COLONIA               4687   5722
         DURAZNO                829    987
         FLORES                 459    561
         FLORIDA               1302   1559
         LAVALLEJA              738    870
         MALDONADO             5021   5930
         MONTEVIDEO           15446  17286
         PAYSANDU              1716   1941
         RIO NEGRO             1699   2030
         RIVERA                 953   1094
         ROCHA                 1402   1630
         SALTO                 1829   2149
         SAN JOSE              2631   3386
         SORIANO               1645   2077
         TACUAREMBO            1678   1873
         TREINTA Y TRES         650    784
202002   ARTIGAS                873    994
         CANELONES            15298  18217
         CERRO LARGO           1333   1541
         COLONIA               4906   6088
         DURAZNO                870   1046
         FLORES                 469    583
         FLORIDA               1437   1721
         LAVALLEJA              808    973
         MALDONADO             5285   6262
         MONTEVIDEO           16105  18062
         PAYSANDU              1748   1979
         RIO NEGRO             1842   2181
         RIVERA                1014   1162
         ROCHA                 1443   1697
         SALTO                 1908   2243
         SAN JOSE              2871   3724
         SORIANO               1667   2119
         TACUAREMBO            1713   1913
         TREINTA Y TRES         703    852
202011   ARTIGAS               1575   1764
         CANELONES            29409  34730
         CERRO LARGO           2595   3007
         COLONIA               9936  12131
         DURAZNO               1880   2225
         FLORES                1059   1282
         FLORIDA               2867   3387
         LAVALLEJA             1690   1993
         MALDONADO            10760  12681
         MONTEVIDEO           33082  36788
         PAYSANDU              3647   4134
         RIO NEGRO             3588   4283
         RIVERA                1906   2161
         ROCHA                 2994   3502
         SALTO                 3568   4186
         SAN JOSE              5620   7183
         SORIANO               3508   4427
         TACUAREMBO            3473   3846
         TREINTA Y TRES        1483   1782

In [18]:
clientes.loc[clientes.DATE_EXP=='202001'].groupby(["CUSTOMER_ID",'PROVINCIA']).size()

CUSTOMER_ID  PROVINCIA
8069         MONTEVIDEO    1
8677         MALDONADO     2
8686         MONTEVIDEO    1
8855         MONTEVIDEO    1
9064         CANELONES     2
                          ..
55450038     COLONIA       1
55450056     MONTEVIDEO    2
55450074     CANELONES     1
55450323     MONTEVIDEO    1
55450397     CANELONES     1
Length: 59569, dtype: int64

In [20]:
clientes.loc[clientes.CUSTOMER_ID==9064]

,CUSTOMER_ID,TITLEUSERKEY,GENERO,FECHA_CREATE,CUSTOMER_CLASS,FECHANACIMIENTO,CUSTOMER_TYPE,CUSTOMER_STATUS,SEGMENTATION,DOMICILO_INS_FACT,LOCALIDAD,CP,PROVINCIA,PAIS,DATE_EXP
5,9064,Sra.,Senora,2001-09-26 16:45:48,2 - PostPago,1946-05-14,D - Normal Edificio,Normal customer,Grupo_1,DOMICILIO DE FACTURACION,None,90000,CANELONES,URUGUAY,202002
6,9064,Sra.,Senora,2001-09-26 16:45:48,2 - PostPago,1946-05-14,D - Normal Edificio,Normal customer,Grupo_1,DOMICILIO DE INSTALACION,CANELON GRANDE REPRESA,90702,CANELONES,URUGUAY,202002
12541,9064,Sra.,Senora,2001-09-26 16:45:48,2 - PostPago,1946-05-14,D - Normal Edificio,Normal customer,Grupo_1,DOMICILIO DE FACTURACION,None,90000,CANELONES,URUGUAY,202001
12542,9064,Sra.,Senora,2001-09-26 16:45:48,2 - PostPago,1946-05-14,D - Normal Edificio,Normal customer,Grupo_1,DOMICILIO DE INSTALACION,CANELON GRANDE REPRESA,90702,CANELONES,URUGUAY,202001
72776,9064,Sra.,Senora,2001-09-26 16:45:48,2 - PostPago,1946-05-14,D - Normal Edificio,Normal customer,Grupo_1,DOMICILIO DE FACTURACION,None,90000,CANELONES,URUGUAY,202011
72777,9064,Sra.,Senora,2001-09-26 16:45:48,2 - PostPago,1946-05-14,D - Normal Edificio,Normal customer,Grupo_1,DOMICILIO DE INSTALACION,CANELON GRANDE REPRESA,90702,CANELONES,URUGUAY,202011

In [15]:
clientes.groupby(["DATE_EXP",'CUSTOMER_CLASS']).agg({'CUSTOMER_ID':'nunique'}).reset_index()

  DATE_EXP        CUSTOMER_CLASS  CUSTOMER_ID
0   202001          2 - PostPago        58099
1   202001  9 - Premium Postpago           46
2   202002          2 - PostPago        60715
3   202002  9 - Premium Postpago           47
4   202011          2 - PostPago       121136
5   202011  9 - Premium Postpago          174

In [15]:
clientes.groupby(["DATE_EXP",'CUSTOMER_TYPE']).agg({'CUSTOMER_ID':'nunique'})

                              CUSTOMER_ID
DATE_EXP CUSTOMER_TYPE
202001   D - Normal Edificio         9792
         N - Normal Casa            48353
202002   D - Normal Edificio         9813
         N - Normal Casa            50949